{
  "presets": [['es2015', {modules: false}], 'react', 'stage-0'],
  "plugins": [
      ["lodash"],
      ["syntax-dynamic-import"],
      ["transform-dirname-filename"],
      ["transform-line"],
      ["transform-runtime"],
      ["transform-decorators-legacy"],
      ["transform-async-to-generator"],
      ["transform-promise-to-bluebird"],
      ["babel-plugin-root-import", {"rootPathSuffix": "src" }],
  ]
}
