{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "plugin:react/recommended"
  ],
  "plugins": [
    "babel",
    "react",
    "promise",
    "immutable"
  ],
  "env": {
    "browser" : true
  },
  "globals": {
    "__DEV__"      : false,
    "__TEST__"     : false,
    "__PROD__"     : false,
    "__COVERAGE__" : false
  },
  "rules": {
    "comma-dangle"         : ["error", "always-multiline"],
    "key-spacing"          : 0,
    "semi"                 : [2, "always"],
    "jsx-quotes"           : [2, "prefer-single"],
    "max-len"              : [2, 120, 2],
    "object-curly-spacing" : [2, "always"]
  }
}
